@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d3faff;
  font-family: "Teko", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: #223a49;
}
header {
  flex: 0 0 auto;
  background-color: #7eceff;
  height: 5rem;
  box-shadow: 0 0 5px 0 #223a49;
  border-bottom: 2px solid #223a49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 2rem;
  z-index: 1;
}
.logo {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  color: #223a49;
  cursor: pointer;
}
.header-menu-btn {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #223a49;
  padding: 0.1rem;
  font-size: 2rem;
  cursor: pointer;
}
.header-menu-btn.expanded {
  box-shadow: 0 0 0 1px #223a49 inset;
  background-color: #ace6ff;
}
.main-wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
}
main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25rem;
  line-height: 0.8;
  position: relative;
}
.too-late {
  font-size: 15rem;
  text-align: center;
}
.animate-flash {
  animation: flash 450ms ease-in-out;
}
@keyframes flash {
  0% {
    background-color: #3b647e;
  }
  100% {
    background-color: transparent;
  }
}

.fixed {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bottom-menu-btn {
  --diameter: 4rem;
  font-size: 2.5rem;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: calc(var(--diameter) / 2);
  border: none;
  background-color: #3b647e;
  color: #d3faff;
  align-self: flex-end;
  cursor: pointer;
}
.bottom-menu-expanded {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  list-style-type: none;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  color: #d3faff;
}
.add-menu-item {
  text-align: left;
  width: 100%;
  background-color: #3b647e;
  border-radius: 2rem;
  padding: 0.2rem 1rem 0 1.5rem;
}
.add-menu-item:active,
.add-menu-item:hover,
.bottom-menu-btn:hover {
  background-color: #223a49;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #ace6ff;
  position: relative;
}

.nav-menu-expanded {
  height: 3rem;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* .scroll::-webkit-scrollbar {
  display: none; } */
.nav-menu-expanded::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0;
  height: 0;
}
.nav-menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-menu-item:hover,
.nav-menu-item.active {
  /* box-shadow: 0 -3px 0 0 #223a49 inset; */
  border-bottom: 3px solid #223a49;
}
.footer {
  display: flex;
  justify-content: center;
}
.rudder {
  width: 90vw;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #7eceff;
  border-radius: 5rem;
  color: #223a49;
  margin-bottom: 1rem;
  /* box-shadow: 0 0 5px 0 #3b647e; */
}
.rudder .rudder-item {
  font-size: 2rem;
  cursor: pointer;
}
.carousel {
  position: relative;
  max-width: 600px;
  overflow: hidden;
}
.carousel__container {
  width: 100%;
  display: flex;
  transition: transform ease-in-out 300ms;
}
.carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
}
.control__item {
  pointer-events: all;
  cursor: pointer;
  font-size: 2rem;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7eceff;
}
.control__item.prev {
  grid-column: 1;
}
.control__item.next {
  grid-column: span 1/-1;
}
.dot-container {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.dot {
  pointer-events: all;
  cursor: pointer;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 2px solid #7eceff;
}
.dot.filled {
  background-color: #7eceff;
}
.carousel__image {
  width: 100%;
}

.scale-on-hover {
  transition: transform 100ms ease-in-out;
}
.scale-on-hover:hover {
  transform: scale(1.5);
}
