@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d3faff;
  font-family: "Teko", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: #223a49;
}
header {
  flex: 0 0 auto;
  background-color: #7eceff;
  height: 5rem;
  box-shadow: 0 0 5px 0 #223a49;
  border-bottom: 2px solid #223a49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 2rem;
}
.logo {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  color: #223a49;
  cursor: pointer;
}
.header-menu-btn {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #223a49;
  padding: 0.1rem;
  font-size: 2rem;
  cursor: pointer;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25rem;
  line-height: 0.8;
}
.too-late {
  font-size: 15rem;
  text-align: center;
}
.animate-flash {
  animation: flash 450ms ease-in-out;
}
@keyframes flash {
  0% {
    background-color: #3b647e;
  }
  100% {
    background-color: transparent;
  }
}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bottom-menu-btn {
  --diameter: 4rem;
  font-size: 2.5rem;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: calc(var(--diameter) / 2);
  border: none;
  background-color: #3b647e;
  color: #d3faff;
  align-self: flex-end;
  cursor: pointer;
}
.bottom-menu-expanded {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  list-style-type: none;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  color: #d3faff;
}
.add-menu-item {
  text-align: left;
  width: 100%;
  background-color: #3b647e;
  border-radius: 2rem;
  padding: 0.2rem 1rem 0 1.5rem;
}
.add-menu-item:active,
.add-menu-item:hover,
.bottom-menu-btn:hover {
  background-color: #223a49;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #7eceff77;
}
.nav-menu-expanded {
  height: 3rem;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* .scroll::-webkit-scrollbar {
  display: none; } */
.nav-menu-expanded::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0;
  height: 0;
}
.nav-menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-menu-item:hover,
.nav-menu-item.active {
  /* box-shadow: 0 -3px 0 0 #223a49 inset; */
  border-bottom: 3px solid #223a49;
}
